---
# This example config.yaml file configures DataRobot on a ten-node system with a web server,
# three database servers, four data processing and modeling workers, and two dedicated prediction
# servers.
#
# This annotated file contains most configuration options that might be used

# accept Oracle Binary Code License Agreement and install Java SE JDK
accept_oracle_bcl_terms: true

os_configuration:
  # DataRobot service user and keys
  user: "{{ __datarobot_user_name }}"
  group: "{{ __datarobot_grp_name }}"
  private_ssh_key_path: "/home/{{ __datarobot_user_name }}/.ssh/id_rsa"

  # Directory for storing all DataRobot configuration and data files
  datarobot_home_dir: /opt/datarobot

  # Web server configuration
  # Raw, proxy, or load balancer URL that will be used to reach the web server
  webserver_hostname: {{ __app_server_fqdn }}
  ssl:
    enabled: false # Set to false if you will not use SSL certificates
    # Paths relative to certs/ directory
    cert_file_name: {{ __app_server_host }}.pem
    key_file_name: {{ __app_server_host }}.key
    password_file: passphrase.secret

  # Prediction server configuration (optional)
  prediction_endpoint: {{ __prediction_server1_fqdn }}
  prediction_ssl:
    enabled: false # Set to false if you will not use SSL certificates
    # Paths relative to certs/ directory
    cert_file_name: {{ __prediction_server1_host }}.pem
    key_file_name: {{ __prediction_server1_host }}.key
    password_file: passphrase.secret


  # Configure endpoint to send JSON-formatted logs (optional)
  logs:
    enabled: false
    server: logstash.example.com
    port: 5544 # protocol will be UDP


# Global application configuration settings
app_configuration:
  EDA_WORKERS: 1 # EDA worker processes per execmanager container
  SECURE_WORKER_FIT_WORKERS: 4 # Modeling worker processes per execmanager container

  # Less common configuration settings
  drenv_override:
    ALLOW_SELF_SIGNED_CERTS: true # set to true to disable SSL verification internally
    ENABLE_SELINUX: false # set to true if SELinux is Enforcing on your cluster
    ENABLE_MODEL_DEPLOYMENTS: true
    ENABLE_DRIFT_DASHBOARD: true  

# Service layout
# List of dictionaries with several keys:
#   services: list of services to run
#   hosts: list of hosts to run these services on.
#          do not list one host in multiple dictionaries
#   app_configuration: override global app_configuration for these hosts
servers:
# Web server
- services:
  - nginx
  - app
  - appupload
  - availabilitymonitor
  - internalapi
  - jobretryservice
  - publicapi
  - predictionapi
  - pngexport
  - datasetsserviceapi
  - provisioner
  - resourceproxy
  - queueproxy
  - mmqueue
  - idebroker
  - ideworker
  - rsyslog
  - logstash
  - diagnostics
  - taskmanager
  - rabbit
  - tableauextension
  - mongo
  - redis
  - gluster
  hosts:
  - {{ __app_server_host }}
  app_configuration:
    drenv_override:
      # Configure email settings for application support integration (optional)
      SMTP_ADDRESS: mailhk.intranet.asia
      SMTP_MODE: SMTP_STARTTLS
      # SMTP_PASSWORD: <SMTP_PASSWORD>
      SMTP_PORT: 25
      SMTP_USER: datarobot-app@prudential.com.hk

      USER_AUTH_TYPE: ldapsearch
      USER_AUTH_LDAP_URI: ldap://10.133.16.41:389
      USER_AUTH_LDAP_SEARCH_FILTER: '(&(cn=$username)(|(memberOf=CN=GHKLIFE-PROD-DATAROBOT,OU=Groups,OU=Life,OU=HK,DC=PRU,DC=INTRANET,DC=ASIA)(memberOf=CN=GHKLIFE-MKT-PROD-DATAROBOT,OU=Groups,OU=Life,OU=HK,DC=PRU,DC=INTRANET,DC=ASIA)(memberOf=CN=GHKLIFE-IT-PROD-DATAROBOT,OU=Groups,OU=Life,OU=HK,DC=PRU,DC=INTRANET,DC=ASIA)))'
      USER_AUTH_LDAP_BIND_DN: CN=SRVHKLIFEDDATAROB,OU=Users,OU=Life,OU=HK,DC=PRU,DC=INTRANET,DC=ASIA
      USER_AUTH_LDAP_BIND_PASSWORD: n#gHf!3n
      USER_AUTH_LDAP_SEARCH_BASE_DN: DC=PRU,DC=INTRANET,DC=ASIA
      USER_AUTH_LDAP_ATTR_EMAIL_ADDRESS: mail
  
      # Scoring Code 
      DATAROBOT_PRIME_SERVICE: True
      ENABLE_CODE_GENERATION: True

# Model Management
- services:
  - modmonworker
  - pgsql
  hosts:
  - {{ __model_management_server_host }}

# Modeling and EDA worker servers
- services:
  # repeat this pattern to add up to eight workers of each type
  - datasetsserviceworker0
  - datasetsservicequickworker0
  - datasetsserviceworker1
  - datasetsservicequickworker1
  - execmanager
  - resourcemonitor
  hosts:
  - {{ __modeling_worker_server1_host }}
  - {{ __modeling_worker_server2_host }}
  - {{ __modeling_worker_server3_host }}
  - {{ __modeling_worker_server4_host }}

# Dedicated high-performance prediction server
- services:
  - dedicatedpredictionapi
  - dedicatedpredictionnginx
  - modmonrsyslogmaster
  hosts:
  - {{ __prediction_server1_host }}
  - {{ __prediction_server2_host }}
  app_configuration:
    # Recommended configuration for dedicated prediction server
    dedicated_prediction_server: True
    drenv_override:
      WORKER_MODEL_CACHE: 16 # Models to cache in memory at once. Tune this for your use case
      MODEL_CACHE_MODE: LRU # Mode for caching models. Options: LRU, latest